.btn {
    padding: 17px 48px;
    max-width: 116px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--dark-black);
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 12px;
    font-size: 14px;
    transition: all 250ms;
}

.btn:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}