@mixin reset-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:root {
    --orange: #F18128;
    --white: #FFFFFF;
    --dark-blue: #040D1F;
    --light-black: #030914;
    --dark-black: #000000;
}